.navbar
	color: $color-main
	font-family: $font-header

	.navbar-inner
		min-height: 80px
		background: rgba(255, 255, 255, 0.8)
		background-image: none
		border-bottom: 1px solid $color-main
		+box-shadow-none

		.navbar-logo
			img
				width: 100%
				position: absolute
				margin: 15px auto
				height: 50px

		@media (max-width: 3100px) and (min-width: 768px)
			.nav
				position: relative
				padding: 23px 7px
				float: right

				li > a
					font-weight: bold
					font-size: 18px
					letter-spacing: -0.03em
					margin: 0px 10px
					padding: 7px 0px
					color: $color-main
					border-bottom: 2px solid transparent
					&:hover
						border-bottom: 2px solid $color-accent2

		@media (max-width: 768px) and (min-width: 300px) 
			.nav
				display: none