$font-details-size: 0.9em
$font-body-size: 20px
$font-h1-size: 5em
$font-h3-size: 26px
$font-code-size: 16px
$font-tag-size: 0.8em

$font-tablet-body-size: 14px
$font-tablet-h1-size: 3em
$font-tablet-code-size: 9px

.entry
	background-color: #fff
	padding: 10px 50px
	margin-top: -20px

	@media (max-width: $break-smart)
		padding: 10px

	.header
		margin: 0 auto
		border-bottom: 1px solid $color-main
		margin-bottom: 10px

		h1
			font-size: $font-h1-size
			line-height: normal

			@media (max-width: $break-smart)
				font-size: $font-tablet-h1-size

	.topbar
		border-bottom: 1px solid $color-main
		margin-bottom: 10px

		.blurb
			font-style: italic !important
			margin-bottom: 10px

		dl
			margin-bottom: 10px

			dt
				font-family: $font-header
				float: left
			dd
				padding-left: 50px

	.sidebar
		display: block
		
		ul.details
			font-size: $font-details-size
			font-family: $font-main
			list-style: none
			margin: 0

		ul.details > li
			padding: 0px 0 30px 0
			border-bottom: 1px solid $color-main
			margin-bottom: 10px

			&.blurb
				font-style: italic
				font-family: $font-main

			&.url ul
				list-style-type: none
				margin-left: 0

			.details-header
				font-family: $font-header
				font-weight: bold
				letter-spacing: -0.03em
				font-size: $font-details-size + 0.2em

			a
				font-weight: bold
				text-decoration: none
				&:hover
					color: $color-accent

	.content
		font-size: $font-body-size
		line-height: 1.45
		margin-bottom: 20px

		.max-width-video-wrapper
			padding: 15px
		
		h1, h2, h3, h4
			margin: 0
		
		h3
			font-size: $font-h3-size

		p, ul, blockquote
			margin-bottom: 20px

		li
			margin-left: 30px !important
			margin-bottom: 18px !important
			line-height: 1.45

			p
				margin: 0 !important

		pre
			margin-bottom: 20px
			padding: 20px
			border: none

			code
				font-size: $font-code-size

		@media (max-width: $break-smart)
			font-size: $font-tablet-body-size
			li
				margin-left: 0px !important
			pre code
				font-size: $font-tablet-code-size

.tags
	font-size: $font-tag-size
	font-family: $font-header

	ul
		margin: 3px 0 0 0

		li
			margin: 3px 0
			padding: 0
			display: inline-block
			list-style-type: none

			&.tag
				color: #fff
				background-color: $color-accent2
				+border-radius(3px)
				font-weight: bold
				padding: 4px 8px

.bottombar
	.tags
		float: right

	@media (max-width: $break-smart)
		margin-bottom: 20px