@import "bootstrap-sass/lib/bootstrap"
@import "font-awesome/scss/font-awesome"
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700|Lato:400,700)

$color-main:	#333333
$color-shadow:	#dddddd
$color-light:	#ffffff
$color-accent:	#d83904

$font-main:		'Lato', 'Open Sans', Helvetica, Arial, sans-serif
$font-header:	'Helvetica Neue', Helvetica, Arial, sans-serif

@import "core"
@import "header"

// .splash
// 	height: 100%
// 	width: 100%
// 	position: absolute
// 	padding: 20px
// 	background-image: url('../images/aviti.jpg')
// 	+background-size(cover)
// 	text-align: center
	
// 	svg.logo path
// 		fill: $color-main !important
// 		opacity: 0.3

// 	h2
// 		font-size: 64px

@import "about"

.projects-list
	&.tiles
		padding: 0
		margin: 20px 20px 0 60px

		.project-tile
			list-style: none
			//border-bottom: 1px solid #ddd
			+border-radius(1px)
			background-color: #fff
			background-repeat: no-repeat
			background-position: center center
			float: left
			overflow: hidden
			position: relative
			height: 285px
			margin: 0 17px 20px 0
			width: 90%
			@media (max-width: 1000px) and (min-width: 768px)
				width: 46%
			@media (max-width: 1400px) and (min-width: 1000px)
				width: 31%
			@media (max-width: 1800px) and (min-width: 1400px)
				width: 23.4%
			@media (max-width: 2200px) and (min-width: 1800px)
				width: 18.7%
			@media (max-width: 2700px) and (min-width: 2200px)
				width: 15.7%	
			@media (max-width: 3100px) and (min-width: 2700px)
				width: 13.5%

			.image
				width: 100%
				height: 200px
				+background-size(cover)
				background-position: center top
				background-repeat: no-repeat
			a
				color: inherit
				height: 280px
				display: block
				position: absolute
				top: 0
				right: 0
				left: 0
				bottom: 52px
				&:hover
					text-decoration: none
					color: inherit
				.meta
					height: 80px
					position: absolute
					bottom: 0
					left: 0
					right: 0
					padding: 10px
					overflow: hidden
					text-overflow: ellipsis
			h4
				margin: 0px 0px 5px 0px !important
				font-size: 16px
				text-transform: uppercase

.entry
	background-color: #fff
	border-bottom: 1px solid $color-shadow
	padding: 20px

	.header
		h2
			display: inline-block
		.url
			margin-left: 10px
			a
				color: $color-accent
				font-weight: bold
				text-decoration: none
				&:hover
					color: lighten($color-accent, 10%)

	.blurb
		font-style: italic

	.content
		font-size: 18px
		font-weight: 200
		line-height: 30px
		margin: 20px 0

		.max-width-video-wrapper
			padding: 15px

	.tags
		font-size: 12px

		ul
			margin: 0

			li
				margin: 0
				padding: 0
				display: inline
				list-style-type: none

				&.tag
					color: $color-light
					background-color: lighten($color-accent, 20%)
					+border-radius(3px)
					font-weight: bold
					padding: 4px 8px

/*	TURNUP.JS	*/
.turnup, .turnup-sample
	text-transform: uppercase
	color: $color-accent

@import "footer"