@import "bootstrap-sass/lib/bootstrap"
@import "bootstrap-sass/lib/responsive"
@import "font-awesome/scss/font-awesome"
@import url(http://fonts.googleapis.com/css?family=Lato:400,700)

$color-main:	#303030
$color-shadow:	#dddddd
$color-light:	#ffffff
$color-accent:	#f2522e
$color-accent2:	#0089fa

$font-main:		'Lato', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif
$font-header:	'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif
$font-small:	$font-main

$break-smart:	480px
$break-tablet:	768px
$break-wide:	1000px

@import "core"
@import "header"
@import "about"
@import "project"

.projects-list
	&.tiles
		padding: 0
		margin: 20px 20px 0 60px

		.project-tile
			list-style: none
			+border-radius(1px)
			background-color: #fff
			background-repeat: no-repeat
			background-position: center center
			float: left
			overflow: hidden
			position: relative
			height: 285px
			margin: 0 17px 20px 0
			width: 90%
			@media (max-width: $break-wide) and (min-width: $break-tablet)
				width: 46%
			@media (max-width: 1400px) and (min-width: $break-wide)
				width: 31%
			@media (max-width: 1800px) and (min-width: 1400px)
				width: 23.4%
			@media (max-width: 2200px) and (min-width: 1800px)
				width: 18.7%
			@media (max-width: 2700px) and (min-width: 2200px)
				width: 15.7%	
			@media (max-width: 3100px) and (min-width: 2700px)
				width: 13.5%

			&:hover
				color: black

				.overlay
					background: $color-main
					opacity: 0.3

			.image
				width: 100%
				height: 200px
				+background-size(cover)
				background-position: center top
				background-repeat: no-repeat
			a
				color: inherit
				height: 280px
				display: block
				position: absolute
				top: 0
				right: 0
				left: 0
				bottom: 52px
				&:hover
					text-decoration: none
					color: inherit

				.overlay
					position: absolute
					padding: 200px 0px 0px
					bottom: 80px
					left: 0
					right: 0
					overflow: hidden

				.meta
					font-family: $font-small
					height: 80px
					position: absolute
					bottom: 0
					left: 0
					right: 0
					padding: 10px
					overflow: hidden
					text-overflow: ellipsis
			h4
				margin: 0px 0px 5px 0px !important
				font-size: 16px
				text-transform: uppercase


/*	TURNUP.JS	*/
.turnup, .turnup-sample
	text-transform: uppercase
	color: $color-accent2

@import "footer"