<header id="masthead">
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<a class="navbar-logo" href="/"><h2>AMALIA VITI</h2></a>
			<ul class="nav">
				<li>{{#linkTo "about"}}ABOUT{{/linkTo}}</li>
				<li>{{#linkTo "projects"}}PROJECTS{{/linkTo}}</li>
				<li><a href="http://www.aamaliaa.com" target="_blank">BLOG</a></li>
			</ul>
		</div>
	</div>
</header>

{{outlet}}
