<header id="masthead">
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			{{#linkTo "projects" class="navbar-logo"}}<h2>AMALIA VITI</h2>{{/linkTo}}
			<ul class="nav">
				<li>{{#linkTo "about"}}ABOUT{{/linkTo}}</li>
				<li>{{#linkTo "projects"}}PROJECTS{{/linkTo}}</li>
				<li><a href="http://www.aamaliaa.com" target="_blank">BLOG</a></li>
			</ul>
		</div>
	</div>
</header>

{{outlet}}
