<div class="wrap">
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			{{#linkTo "index" class="navbar-logo"}}
				<img src="images/triangles.svg">
			{{/linkTo}}

			<ul class="nav">
				<li>{{#linkTo "about"}}ABOUT{{/linkTo}}</li>
				<li>{{#linkTo "projects"}}PROJECTS{{/linkTo}}</li>
				<li><a href="http://www.aamaliaa.com" target="_blank">BLOG</a></li>
			</ul>
		</div>
	</div>

	<div class="main">
		{{outlet}}
	</div>

	<div class="push"></div>
</div>
{{partial "footer"}}