{{#each about in controller}}	
	<div class="bio" style="margin: 0 auto">
		<div class="avatar-wrapper">
			<img alt="Amalia Viti" class="avatar" src="http://s3.amazonaws.com/av_main/images/aviti_avatar.jpg">
		</div>
		<div class="blurb">
			<div class="head">
				<p>HI, I'M AMALIA VITI</p>
				<p>I'M <span class="turnup">A TECHNOLOGIST</span></p>
			</div>
			<ul class="icons">
				<li><a href="http://www.twitter.com/amaliaviti" target="_blank"><i class="icon-twitter"></i></a></li>
				<li><a href="http://www.github.com/aamaliaa" target="_blank"><i class="icon-github"></i></a></li>
				<li><a href="http://www.linkedin.com/in/amaliaviti" target="_blank"><i class="icon-linkedin-sign"></i></a></li>
				<li><a href="http://www.aamaliaa.com" target="_blank"><i class="icon-tumblr"></i></a></li>
				<li><a href="http://www.instagram.com/aamaliaa" target="_blank"><i class="icon-instagram"></i></a></li>
			</ul>
		</div>
	</div>

	<div class="about">
		{{{about.content}}}
	</div>
{{/each}}