<div id="soundcloud-widget"></div>

<div class="about">
	<p>I make music. I primarily play the piano... but also experiment with any instrument I can get my hands on (so far MicroKorg, guitar, ukulele, glockenspiel) whenever I'm feeling inspired.</p>

	<p>I like to use Reason, Logic, and Ableton for recording my creations.</p>
</div>

{{#view view.list contentBinding="model"}}
	{{#each track in view.content}}
		{{#view view.track contentBinding="track"}}
			<div class="actions">
				{{#if view.isActive}}
					<i class="icon-pause"></i>
				{{else}}
					<i class="icon-play"></i>
				{{/if}}
			</div>
			<div class="waveform">
				<progress {{bindAttr value="view.relativePosition"}}></progress>
				<h3 class="title">{{track.title}}</h3>
				<img {{bindAttr src="track.waveform_url"}}>
			</div>
		{{/view}}
	{{/each}}
{{/view}}

<div class="about">
	<p>You can also listen on <a href="http://www.soundcloud.com/amalia">Soundcloud</a>.
</div>